@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

[inert], [inert] * {
  opacity: 0.3;
}

html, body {
  height: 100%;
  max-width: 100%;
  min-width: 320px;
  font-size: 100%;
  font-weight: 400;
  line-height: normal;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  color: #363636;
}

input, button, textarea {
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: #131414 !important;
  color: white !important;
  -webkit-box-shadow: 0 0 0 1000px #131414 inset !important;
  -webkit-text-fill-color: white !important;
  -webkit-transition: background-color 0s 600000s, color 0s 600000s;
  transition: background-color 0s 600000s, color 0s 600000s;
  caret-color: #bd3208 !important;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  background: transparent;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------Иконочный шрифт---------*/
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?dyqno6");
  src: url("../fonts/icomoon.eot?dyqno6#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?dyqno6") format("truetype"), url("../fonts/icomoon.woff?dyqno6") format("woff"), url("../fonts/icomoon.svg?dyqno6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon_], [class*=" icon_"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_discord:before {
  content: "\e900";
}

.icon_vk:before {
  content: "\e901";
}

.icon_youtube:before {
  content: "\e902";
}

/*---------------Основные элементы---------------*/
body {
  background: #3B2B18;
}

.main_button {
  border-radius: 50px;
  border-bottom: 5px solid rgba(204, 92, 6, 0.65);
  border-left: 4px solid rgba(204, 92, 6, 0.65);
  background: linear-gradient(90deg, #E65C00 0%, #F9D423 100%);
  background-clip: padding-box;
  color: #FFF;
  width: -moz-max-content;
  width: max-content;
  font-size: 15px;
  font-weight: 800;
  padding: 29px 47px;
  letter-spacing: 2.775px;
  will-change: transform;
  transition: 0.5s;
}

button:hover {
  transform: scale(1.05);
}

.info_button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 250px;
  height: 90px;
  padding: 10px 30px;
  transform: rotate(-4.5deg);
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 2.775px;
  border-radius: 30px;
  border-bottom: 5px solid rgba(204, 92, 6, 0.65);
  border-left: 4px solid rgba(204, 92, 6, 0.65);
  box-shadow: -5px 5px 20px 0px rgba(226, 172, 23, 0.4);
  background: linear-gradient(90deg, #E65C00 0%, #F9D423 100%);
  background-clip: padding-box;
  will-change: transform;
  transition: 0.5s;
}
.info_button:hover {
  transform: rotate(-4.5deg) scale(1.05);
}

.accent {
  color: #E2AC17;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3.7px;
}/*# sourceMappingURL=common.css.map */